h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__sans;
	color: #4d1a00;
}

h1 {
	display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
 	text-align: left;
}

h2 {
	display: block;
  font-size: 2.2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
	text-align: center;
}

h3 {
	display: block;
  font-size: 2.0em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
	text-align: center;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.8em;
}

h6 {
	font-size: 1.6em;
}
